$black: #131313;
$orange: #e3b873;
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Regular.ttf");
}
@font-face {
  font-family: "YesevaOne-Regular";
  src: url("../assets/fonts/YesevaOne-Regular.ttf");
}

.cards--big {
  max-width: 1236px;
}

.cards--small {
  max-width: 1005px;
}
.cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .card--big {
    max-width: 392px;
  }
  .card--middle {
    max-width: 376px;
    width: 100%;
  }
  .card--small {
    max-width: 270px;
    margin-bottom: 50px;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 36px;
    .card_caption--big {
      max-width: 340px;
      margin-top: -126px;
    }
    .card_caption--small {
      max-width: 230px;
      margin-top: -80px;
    }
    .card_caption--client {
      width: 100%;
    }
    .card_caption {
      background: #fff;

      width: 100%;
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
      .card_caption-title {
        font-family: "YesevaOne-Regular";
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        text-transform: capitalize;
        padding: 25px 34px;
        color: #363636;
      }

      .card_caption_title-block {
        display: flex;
        align-items: center;
        padding: 24px 20px;
      }

      .card_caption-title--person {
        font-family: "Raleway";

        font-size: 18px;
        line-height: 25px;
        text-align: center;
        text-transform: capitalize;
        padding: 22px 0 0 0;
        color: #363636;
      }

      .card_caption-title--client {
        font-family: "YesevaOne-Regular";
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        color: #181818;
        margin-left: 23px;
      }

      .card_caption-list--person {
        font-family: "Raleway";

        text-align: center;
        font-size: 15px;
        line-height: 25px;
        color: #959595;
        margin-bottom: 20px;
      }

      .card_caption-list--client {
        font-family: "Raleway";
        font-size: 15px;
        line-height: 25px;
        color: #959595;
        padding: 0 20px 85px 20px;
      }

      .card_caption-list {
        font-family: "Raleway";

        padding: 13px 34px;
        font-size: 15px;
        line-height: 25px;
        color: #959595;
        li {
          display: flex;
          align-items: center;
        }
        .card_caption-circle {
          display: inline-block;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: #959595;
          margin-right: 8px;
        }
      }
      .card_caption-button_block {
        display: flex;
      }
      .card_caption-button_block :first-child {
        border-right: 1px solid #ffffff;
      }
      .card_caption-button--client {
        font-family: "Raleway";
        display: flex;
        align-items: center;
        padding: 11px 17px;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        color: #ffffff;
        background: #e3b873;
        border: none;
        box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
        margin-bottom: -24px;
        img {
          margin-right: 15px;
        }
      }

      .card_caption-button--person {
        font-family: "Raleway";
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        height: 54px;
        width: 100%;
        color: #ffffff;
        background: #e3b873;
        border: none;
        box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
      }
      .card_caption-button {
        font-family: "Raleway";
        position: relative;
        top: 25px;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        height: 54px;
        width: 228px;
        margin-top: 23px;
        color: #ffffff;
        background: #e3b873;
        border: none;
        box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
      }
    }
  }
}

@media (max-width: 1180px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 495px) {
  .design_project_block {
      background: $black !important;
  }
  .team_block {
    background: $black !important;
  }
}

@media (max-width: 400px) {
  .card-img {
    width: 340px;
  }
}
