$black: #131313;
$orange: #e3b873;
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Regular.ttf");
}
@font-face {
  font-family: "YesevaOne-Regular";
  src: url("../assets/fonts/YesevaOne-Regular.ttf");
}

.online-control-block {
  background: linear-gradient(to bottom, $black 34%, #fff 35%);
  text-align: center;
  // margin-top: -320px;
  .online-control-block__iframe {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    margin-bottom: 60px;
    max-width: 817px;
    height: 434px;
  }
}

@media (max-width: 495px) {
  .online-control-block {
    background: $black !important;
    .title-logo-block {
      .title-logo-block__title_black {
        color: #fff;
      }
    }
    .title-text-block {
      .title-text-block__text {
        color: #fff;
      }
    }
  }
}
