$black: #131313;
$orange: #e3b873;
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Regular.ttf");
}
@font-face {
  font-family: "YesevaOne-Regular";
  src: url("../assets/fonts/YesevaOne-Regular.ttf");
}

.scroll_block {
  display: flex;
  width: 247px;
  height: 97px;
  align-items: center;
  justify-content: center;
  background: $black;
  margin-top: -50px;
  z-index: 5;
  position: relative;
  .scroll_block-title {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #ffffff;
    margin-right: 12px;
  }
}
@media (max-width: 798px) {
  .scroll_block {
    display: none;
  }
}
