$black: #131313;
$orange: #e3b873;
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Regular.ttf");
}
@font-face {
  font-family: "YesevaOne-Regular";
  src: url("../assets/fonts/YesevaOne-Regular.ttf");
}

.team_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, $black 45%, #fff 45%);
}

.chart-person {
  background: $orange;
  box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5);
  padding: 13px;
  display: flex;
  align-self: flex-start;
  margin-bottom: -35px;
  margin-left: -35px;
  z-index: 5;
  position: relative;
}

.team_block {
  .title-text-block {
    .title-text-block__text {
      color: #fff;
    }
  }
}
@media (max-width: 520px) {
  .team_block {
    padding-top: 50px;
  }
}

@media (max-width: 495px) {
  .team_block {
    background: $black !important;
    .title-logo-block {
      .title-logo-block__title_black {
        color: #fff;
      }
    }
    .title-text-block {
      .title-text-block__text--black {
        color: #fff;
      }
    }
  }
}
