$black: #131313;
$orange: #e3b873;
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Regular.ttf");
}
@font-face {
  font-family: "YesevaOne-Regular";
  src: url("../assets/fonts/YesevaOne-Regular.ttf");
}

.types_of_repair_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
  }